:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(251, 241, 199); /* bg0 */
    --entry: rgb(251, 241, 199); /* bg0 */
    --head: rgb(40, 40, 40); /* fg0 */
    --primary: rgb(40, 40, 40); /* fg0 */
    --secondary: rgb(60, 56, 54); /* fg1 */
    --tertiary: rgb(189, 174, 147); /* bg3 */
    --content: rgb(40, 40, 40); /* fg0 */
    --hljs-bg: rgb(28, 29, 33); /* unchanged */
    --code-bg: rgb(235, 219, 178); /* bg1 */
    --border: rgb(235, 219, 178); /* bg1 */
}

.dark {
    --theme: rgb(40, 40, 40); /* bg0 */
    --entry: rgb(60, 56, 54); /* bg1 */
    --head: rgb(215, 153, 33); /* yellow1 */
    --primary: rgb(214, 93, 14); /* orange1 */
    --secondary: rgb(215, 153, 33); /* yellow1 */
    --tertiary: rgb(102, 92, 84); /* bg3 */
    --content: rgb(251, 241, 199); /* fg0 */
    --hljs-bg: rgb(46, 46, 51); /* unchanged */
    --code-bg: rgb(40, 40, 40); /* bg0 */
    --border: rgb(60, 56, 54); /* bg1 */
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
